<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="iPhone, iPod Touch, poetry, literature, short stories, mobile, magazine, literary magazine" />
    <meta name="description" content="The world's only mobile literary magazine, produced for the iPhone and iPod touch." />
    <title>Scarab :: The world's only mobile literary magazine, produced for the iPhone and iPod touch.</title>
   	<%= stylesheet_link_merged :homepage %>
   	<%= javascript_include_merged :base %>
  </head>
  <body>
    <div class="container">  
    	<%= display_flash :error, :notice, :success %>
      
      <div class="column span-10 first" id="logo">
        <img src="/images/logo.png">
      </div>
      
      <div class="column span-14 last">
          <div class="highlights rounded" id="description">
            <p>
              <span><em>Scarab</em></span> is the world's first and only <span>mobile literary magazine</span>, 
              and features <span>full length audio</span> of the <span>authors reading their works</span>.
              Coming soon to the <span>iPhone</span> and <span>iPod Touch</span>.  
            </p>
            <%= link_to "learn more &rarr;", learn_more_path, :class => "rounded-small" %>
          </div>
          
          <div class="column span-7 first">
            <div class="highlights rounded">
              <h2>Get notified when we launch!</h2>
              <% form_for @mailing_list_recipient do |f| %>
                <%= f.text_field :email, :class => "text" %>
                <%= submit_tag 'Sign up', :class => "button" %>
              <% end %>
              <p>
                Our mailing list is <span>very low volume</span> and we promise there will be <span>no spam</span>
                and we <span>won't sell</span> your address.
              </p>
            </div>
          </div>
      
      
          <div class="column span-7 last">

            <div class="highlights rounded">
              <div class="submit-your-work">
                <%= link_to "Submit your work!", submit_work_path, :id => "submission-link", :class => "rounded" %>
                <p><%= link_to "current contributors please login here", dashboard_path, :class => "rounded-small" %></p>
              </div>
            </div>
          </div>

      </div>

      <%= render :partial => "layouts/footer" %>
    </div>
    <%= render :partial => "layouts/analytics" %>
  </body>
</html>
