<div id="home-header">
	<h2>The First Literary Magazine for your iPhone</h2>
	<a class="app-store" href="itms://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=329678441&mt=8&s=143441">Available in the iPhone App Store</a>
	<p>Listen to and read along with the best in contemporary poetry and prose.  Eleven new works and an interview monthly, delivered right into your hand.  Only on the iPhone and iPod touch.</p>
</div>

<div id="home-content">
	
	<div id="issue-header">
		<div class="issue-icon" style="background-color: #<%= @current_issue.color %>;">
			<img src="/images/icon-img.png" alt="Issue <%= @current_issue.number %>" />
			<span><%= @current_issue.number %></span>
		</div>
		<div id="header-text">
			<h3><%= @current_issue.title %></h3>
			<span>Current Issue</span> <a href="<%= issue_path :number => @current_issue.number %>">Read more &rsaquo;</a>
		</div>
	</div>
	
	<div class="main-body">
		<p><strong><%= @current_issue.title %></strong> - <%= @current_issue.short_web_description %> <a href="<%= issue_path :number => @current_issue.number %>">Read more »</a></p>
	</div>
	
	<div class="main-body authors">
		
		<h4>This Issue's Authors</h4>
		
		<ul id="authors">
		  <% @current_issue.authors[0,5].each do |author| %>
			<li>
				<a href="<%= issue_path :number => @current_issue.number %>"><img src="/images/authors-border.png" alt="" /></a>
        <%= image_tag author.photo.url(:web) %>
			</li>
			<% end %>
		</ul>
		<br clear="all" />

		<a href="<%= issue_path :number => @current_issue.number %>" class="more">Click here to see all of this issues' authors &raquo;</a>
		
	</div>
	
</div>

<div id="home-screenshots">
	
	<div id="iphone">
		<div id="slides"><img src="/images/scroll-images/1.jpg" /></div>
	</div>
	
	<a id="scroll-up" class="scroll-btn prevPage">Scroll Up</a>
	
	<div class="scrollable vertical">
		<div class="items"> 
			<a href="#" rel="/images/scroll-images/1.jpg" class="image"><img src="/images/scroll-images/1-thumb.png" alt="" /><div class="selected">&nbsp;</div></a>
			<a href="#" rel="/images/scroll-images/2.jpg" class="image"><img src="/images/scroll-images/2-thumb.png" alt="" /></a>
			<a href="#" rel="/images/scroll-images/3.jpg" class="image"><img src="/images/scroll-images/3-thumb.png" alt="" /></a>
			<a href="#" rel="/images/scroll-images/4.jpg" class="image"><img src="/images/scroll-images/4-thumb.png" alt="" /></a>
			<a href="#" rel="/images/scroll-images/5.jpg" class="image"><img src="/images/scroll-images/5-thumb.png" alt="" /></a>
			<a href="#" rel="/images/scroll-images/6.jpg" class="image"><img src="/images/scroll-images/6-thumb.png" alt="" /></a>
			<a href="#" rel="/images/scroll-images/7.jpg" class="image"><img src="/images/scroll-images/7-thumb.png" alt="" /></a>
		</div>
	</div>
		
	<a id="scroll-down" class="scroll-btn nextPage">Scroll Down</a>
	
</div>
