<div id="issue-header" class="interior-header">
	<div id="header-text">
		<h3>About the Company</h3>
		<span>A little bit about the makers of Scarab</span>
	</div>
</div>

<div id="interior-body">
  <p class="large-text"><i>Scarab</i> is published by Old Brick Press, LLC, a company founded by former College of William and Mary roommates Ian Terrell and Brian Wilkins.  We believe that exposure to the arts is vital to one’s quality of life, so we're working to make the best in contemporary poetry and prose available to the public. And because we want to support good writers as well as good writing, 20% of the purchase price for each issue goes directly to the artists involved.</p>

  <div class="author-col">
	    <div class="author-box">
  			<div class="top">&nbsp;</div>
  			<div class="box-body">
  				<div class="user-pic">
  					<a href="#"><img src="/images/authors-border.png" alt="" /></a>
  					<%= image_tag "brian_52x52.jpg"%>
  				</div>
  				<div class="user-name">
  					<span>Brian Wilkins</span><br />
  					<small>Editor</small>
  				</div>

  				<p><b>Brian Wilkins</b> received his MFA in Poetry from the University of New Hampshire. He has worked as a poetry editor for The William and Mary Review and Barnstorm, and as a reader for The Paris Review. His own poetry has been published in Two Review and Permafrost. He currently lives in Urbana, IL.</p>
  			</div>
  			<div class="bottom">&nbsp;</div>
  		</div>
	</div>
	
  <div class="author-col">
	    <div class="author-box">
  			<div class="top">&nbsp;</div>
  			<div class="box-body">
  				<div class="user-pic">
  					<a href="#"><img src="/images/authors-border.png" alt="" /></a>
  					<%= image_tag "ian_52x52.jpg"%>
  				</div>
  				<div class="user-name">
  					<span>Ian Terrell</span><br />
  					<small>Publisher</small>
  				</div>

  				<p><b>Ian Terrell</b> most recently worked as the technical lead for INM United in Richmond, VA, where he managed all aspects of their projects’ technology needs.  Prior to his position there, he worked as a lead web developer for Alexander Interactive, a full service agency in New York City.  He has also had leadership roles with Gallium Technologies, a transportation industry software company, and Amentra, a web development consultancy.</p>
  			</div>
  			<div class="bottom">&nbsp;</div>
  		</div>
	</div>
	
	<h4 style="clear:both;">Contact Information</h4>
	<p>All submissions should be sent via our <%= link_to "submission manager", submit_work_path %>.  For any other editorial inquiries, please email Brian at <%= link_to "editor@scarabmag.com", "mailto:editor@scarabmag.com" %>.  Questions and concerns about the application or the website should be directed to <%= link_to "support@scarabmag.com", "mailto:support@scarabmag.com" %>.
	
</div>