<% form_for @bio, :url => {:action => :update}, :html => { :multipart => true } do |f| -%>
  <%= render :partial => "min_form", :locals => { :f => f } %>
  
  <div>
    <%= f.label :body %>
    <br/>
    <%= f.text_area :body %>
    <%= f.error_message_on :body %>
  </div>
  
  <div>
    <br/>
    <%= submit_tag 'Submit', :class => 'button' %>
  </div>
<% end -%>