<div>
  <%= f.label :name %>
  <br/>
  <%= f.text_field :name, :class => "text" %>
  <%= f.error_message_on :name %>
</div>

<div>
  <%= f.label :phone %>
  <br/>
  <%= f.text_field :phone, :class => "text" %>
  <%= f.error_message_on :phone %>
</div>