<h3>Issues</h3>

<% if @issues.empty? %>
  <p>
    No issues.
  </p>
<% else %>
  <table>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Subtitle</th>
      <th>Color</th>
      <th>Publish Date</th>
    </tr>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= link_to issue.number, [:admin, issue] %></td>
        <td><%= link_to truncate(issue.title, :length => 100), [:admin, issue] %></td>
        <td><%= truncate issue.subtitle, :length => 100 %></td>
        <td style="background-color:#<%= issue.color %>;"><%= issue.color %></td>
        <td><%= publication_time issue.published_at %></td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @issues %>
<% end %>


<%= link_to "New Issue", new_admin_issue_path %>