<h3>Issue <%= @issue.number %></h3>
<h4><%= @issue.title %></h4>
<%= @issue.subtitle %>

<%= iphone_display @issue.preview_description %>

<p>Color: <span style="background-color:#<%= @issue.color %>;"><%= @issue.color %></span></p>

<h4>Short Web Description for the homepage</h4>
<p>
  <%= @issue.short_web_description %>
</p>

<h4>Description for dedicated webpage</h4>
<p>
  <%= @issue.long_web_description %>
</p>

<br/><br/>

<h4>Works</h4>
<ul id="issue_works" class="list">
  <% @issue.works.each do |work| %>
    <li id="work_<%= work.id %>" class="issue-work-item">
      <%= link_to work.title, [:admin, work] %> by <%= link_to work.author.name, [:admin, work.author] %>
      <%= "(free)" if work.free? %>
    </li>
  <% end %>
</ul>
<%= sortable_element("issue_works", :url => {:action => 'sort'}) unless @issue.published? %>

<i><%= publication_time @issue.published_at %></i> <%= link_to "edit publication time", publish_admin_issue_path(@issue) %>

<br/><br/>

<%= link_to "Edit", edit_admin_issue_path(@issue) %>
