<!-- TODO ><a href="#" class="app-store-interior">Available in the iPhone App Store</a> -->

<div id="issue-header" class="interior-header">
	<div id="header-text">
		<h3>Log in</h3>
		<span>You must be signed up and logged in to submit your works to us</span>
	</div>
</div>

<div id="interior-body">
	
	<p>If you already have an account with us, please log in with this top form.  If you haven't signed up yet, please <a href="#signup">jump down to the sign up form below</a>.</p>

<% form_tag session_path do -%>
  <table id="login-table">
    <tr>
      <td><%= label_tag 'email' %></td>
      <td><%= label_tag 'password' %></td>
    </tr>
    <tr>
      <td><%= text_field_tag 'email', @email, :class => "text" %></td>
      <td><%= password_field_tag 'password', nil, :class => "text"  %></td>
    </tr>
    <tr>
      <td>
        <%= label_tag 'remember_me', 'Remember me' %>
        <%= check_box_tag 'remember_me', '1', @remember_me %>
      </td>
      <td>
        <%= link_to "Forgot your password?", forgot_path %>
      </td>
    </tr>
  </table>

  <%= submit_tag 'Log in', :class => "button" %>
<% end %>
<br/>

<a name="signup"></a>
<div id="signup-form">
  <%= render :partial => "users/sign_up" %>
</div>


<p>
  <br/>
  Having trouble logging in or signing up?  Send an email to <%= link_to "support@scarabmag.com", "mailto:support@scarabmag.com" %>.
</p>

</div>

