<h3><%= @issue.title %></h3>

<h4>Apple Payments</h4>

<% if @issue.issue_payment_portions.empty? %>
  <p>
    No payments.
  </p>
<% else %>
  <table>
    <tr>
      <th>Quarter</th>
      <th>Payment Code</th>
      <th>Amount</th>
    </tr>
    <% @issue.issue_payment_portions.each do |issue_payment_portion| %>
      <tr>
        <td>
          <%= link_to issue_payment_portion.apple_payment.quarter.name, [:admin, :reports, issue_payment_portion.apple_payment.quarter] %>
        </td>
        <td><%= link_to issue_payment_portion.apple_payment.code, [:admin, :reports, issue_payment_portion.apple_payment] %></td>
        <td><%= money issue_payment_portion.amount %></td>
      </tr>
    <% end %>
  </table>
  <br/>
<% end %>

<p><%= link_to "View Issue Content", [:admin, @issue] %></p>