<h3><%= @author.name %></h3>
<h4><%= @author.location %></h4>

<%= iphone_display @author.bio %>

<%= image_tag @author.photo.url(:web) %>
<%= link_to image_tag(@author.photo.url(:medium)), @author.photo.url %>

<br/><br/>

<% if @author.works.empty? %>
  <i>Not yet published in Scarab.</i>
  <br/>  <br/>
<% else %>
  <h4>Published Works</h4>
  <ul>
    <% @author.works.each do |work| %>
      <li>
        <%= link_to work.title, [:admin, work] %><%= " (free)" if work.free? %> in 
        <%= link_to work.issue.title, [:admin, work.issue] %>
      </li>
    <% end %>
  </ul>
<% end %>

<p>
  <%= link_to "Edit", edit_admin_author_path(@author) %>
</p>