<h2 class="review"><%= link_to image_for_content_type(@work.document.content_type) + @work.title, @work.document.url %></h2>
<h3>by <%= @work.attribution %></h3>

<p><%= link_to @work.user.email, "mailto:#{@work.user.email}" %> <%= @work.user.bio.phone %></p>

<p>
  This work <% if @work.reading? %>is currently on its<% else %>has been<% end %> <%= @work.state_for_display %>.
</p>

<% if permit? "editor" %>
  <div id="work-workflow">
    <% if @work.first_reading? %>
      <%= workflow_button "reject_discourage", "Reject and Discourage" %>
      <%= workflow_button "reject_neutral", "Reject" %>
      <%= workflow_button "reject_encourage", "Reject and Encourage" %>
      <%= workflow_button "promote", "Promote to Second Reading" %>
    <% elsif @work.second_reading? %>  
      <%= workflow_button "reject", "Reject" %>
      <%= workflow_button "accept", "Accept for Publication" %>
    <% end %>
  </div>
  <div class="clearfix"></div>
<% end %>