<h2><%= @author.name %></h2>
<h3><%= @author.location %></h3>

<div id="author-bio">
  <%= @author.bio.gsub("\n","<br/>") %>
</div>

<%= image_tag @author.photo.url :medium %>
<%= image_tag @author.photo.url :large %>

<br/><br/>

<% if @author.works.empty? %>
  <i>Not yet published in Scarab.</i>
  <br/>  <br/>
<% else %>
  <h4>Published Works</h4>
  <ul>
    <% @author.works.each do |work| %>
      <li><%= link_to work.title, work %> in <%= link_to work.issue.title, work.issue %></li>
    <% end %>
  </ul>
<% end %>

<p>
  <%= link_to "Edit", edit_author_path(@author) %>
</p>