<h2>Submit your work</h2>

<p><i>Scarab</i> is interested in publishing imaginative works of poetry and prose that explore the possibilities of lyric and narrative within the range of the voice. We want to publish pieces we can get lost in, work that shines on the page as well as in the air.</p>

<p>You may submit up to five poems or one work of short prose (c. 3500 words). Simultaneous submissions are acceptable, provided that you let us know if you're accepted elsewhere. We enjoy a wide range of styles and genres—what we want most are pieces that demonstrate a clear voice, unafraid to be passionate and reveling in sound.</p>

<% form_for @submission, :html => { :multipart => true } do |f| -%>

  <% if current_user.bio.nil? || current_user.bio.new_record? || @bio %>
    <div id="submit-bio">
      <h3>Bio</h3>
      <p>
        We just need this information once so that we know what to call you and have an 
        extra way to get in touch with you if we want to use your work.  You can edit it
        later from the "My Bio" page.
      </p>
    
      <% fields_for @bio || Bio.new do |bio_form| %>
        <%= render :partial => "bios/min_form", :locals => { :f => bio_form } %>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= f.label :title %>
    <br/>
    <%= f.text_field :title, :class => "title" %>
    <%= f.error_message_on :title %>
  </div>
  
  <div>
    <%= f.label :document %>
    <br/>
    <%= f.file_field :document, :class => "text" %>
    <%= f.error_message_on :document %>
    <p>
      Please upload a Word, PDF, RTF, or plain text file that contains your work or works.
    </p>
  </div>
  
  <div>
    <%= f.check_box :prose %>
    <%= f.label :prose, "This is a work of prose" %> (leave unchecked for poetry)
    <%= f.error_message_on :prose %>
  </div>
  <br/>  <br/>
  <div>
    <p>
      <b>Terms and Conditions</b>
      <br/><br/>
      All rights revert to the author upon publication in Scarab. All we ask is that if the piece is subsequently published, we receive acknowledgment for publishing you first. The same applies to any subsequent audio recordings of the work.
      <br/><br/>
      Published contributors are paid their equal share of 20% of all revenues from all works in which they are published, with a ceiling of $1000 (which may change based on future profits, but will not be reduced).
    </p>
    <%= f.check_box :agree_to_terms %>
    <%= f.label :agree_to_terms, "I agree to the terms and conditions for submission" %>
  </div>
  
  <div>
    <br/>
    <%= submit_tag 'Submit', :class => 'button' %>
  </div>
  
  <br/>
  <p>Please email <%= link_to "support@scarabmag.com", "mailto:support@scarabmag.com" %> if you have trouble submitting.</p>
<% end -%>

<%= render :partial => "users/promising_contributor" %>


<div class="clearfix"></div>
