<h2 class="review"><%= link_to image_for_content_type(@submission.document.content_type) + @submission.title, @submission.document.url %></h2>
<h3>by <%= @submission.attribution %></h3>

<p><%= link_to @submission.user.email, "mailto:#{@submission.user.email}" %> <%= @submission.user.bio.phone %></p>

<p>
  This work <% if @submission.reading? %>is currently on its<% else %>has been<% end %> <%= @submission.state_for_display %>.
</p>

<% if permit? "editor" %>
  <div id="work-workflow">
    <% if @submission.first_reading? %>
      <%= workflow_button "reject_discourage", "Reject and Discourage" %>
      <%= workflow_button "reject_neutral", "Reject" %>
      <%= workflow_button "reject_encourage", "Reject and Encourage" %>
      <%= workflow_button "promote", "Promote to Second Reading" %>
    <% elsif @submission.second_reading? %>  
      <%= workflow_button "reject", "Reject" %>
      <%= workflow_button "accept", "Accept for Publication" %>
    <% elsif @submission.unassigned? %>
      <%= render :partial => "create_work", :locals => {:submission => @submission} %>
    <% end %>
  </div>
    
  <div class="clearfix"></div>
<% end %>
