<% if @submissions.empty? %>
  <p>
    There aren't any unassigned submissions.
  </p>
<% else %>
  <table>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Submitted</th>
      <th>Accepted</th>
      <th>Action</th>
    </tr>
    <% @submissions.each do |submission| %>
      <tr>
        <td><%= link_to truncate(submission.title, :length => 100), submission_path(submission) %></td>
        <td><%= submission.attribution %></td>
        <td><%= time_ago_in_words submission.created_at %> ago</td>
        <td><%= time_ago_in_words submission.accepted_at %> ago</td>
        <td>Create work in (drop down issues)</td>
      </tr>
    <% end %>
  </table>
  
  <%= will_paginate @submissions %>
<% end %>