<h3>Works</h3>

<% if @works.empty? %>
  <p>
    No works.
  </p>
<% else %>
  <table>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Issue</th>
    </tr>
    <% @works.each do |work| %>
      <tr>
        <td><%= link_to work.title, [:admin, work] %></td>
        <td><%= link_to work.author.name, [:admin, work.author] %></td>
        <td><%= link_to work.issue.title, [:admin, work.issue] %></td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @works %>
<% end %>

<br/>

<p>
  Works are considered "published" once they are referenced in an issue.  After that point, all content is seen by
  the public -- so proofread carefully!
</p>

<%= link_to "New Work", new_admin_work_path %>