<h3>FAQ Categories</h3>

<table>
  <tr>
    <th>Name</th>
    <th>Position</th>
    <th>Actions</th>
  </tr>
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td><%= category.position %></td>
      <td>
        <%= link_to "Edit", edit_admin_category_path(category) %>
        <%= link_to "Delete", [:admin, category], :method => :delete, :confirm => "This will delete all its questions, too.  Are you sure?" %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to "Add Category", new_admin_category_path %>