<h3>Unassigned Submissions</h3>

<% if @submissions.empty? %>
  <p>
    There aren't any unassigned submissions.
  </p>
<% else %>
  <table>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Submitted</th>
      <th>Accepted</th>
      <th colspan="2">Actions</th>
    </tr>
    <% @submissions.each do |submission| %>
      <tr>
        <td><%= link_to truncate(submission.title, :length => 100), admin_submission_path(submission) %></td>
        <td><%= submission.attribution %></td>
        <td><%= time_ago_in_words submission.created_at %> ago</td>
        <td><%= time_ago_in_words submission.accepted_at %> ago</td>
        <td style="border-right:none;"><%= render :partial => "create_author", :locals => {:user => submission.user} %></td>
        <td><%= render :partial => "create_work", :locals => {:submission => submission} %></td>
      </tr>
    <% end %>
  </table>
  
  <%= will_paginate @submissions %>
<% end %>