<% content_for :admin_content do -%>
  <ul class="admin-sub-menu">
    <li <%= 'class="selected"' if @controller.controller_name == 'categories' %>><%= link_to "Categories", admin_categories_path %></li>
    <li <%= 'class="selected"' if @controller.controller_name == 'questions' %>><%= link_to "Questions", admin_questions_path %></li>
  </ul>

  <%= yield %>
<% end -%>

<%= render :file => "layouts/admin" %>