<% inside_layout 'admin' do -%>
  <ul class="admin-sub-menu">
    <li <%= 'class="selected"' if @controller.controller_name == 'submissions' && (params[:state] == 'first_reading' || (@submission && !@submission.new_record? && @submission.first_reading?)) %>><%= link_to "Slush (#{Submission.first_reading.count})", admin_submissions_path(:state => "first_reading") %></li>
    <li <%= 'class="selected"' if @controller.controller_name == 'submissions' && (params[:state] == 'second_reading' || (@submission && !@submission.new_record? && @submission.second_reading?)) %>><%= link_to "Slush Plus (#{Submission.second_reading.count})", admin_submissions_path(:state => "second_reading") %></li>          
    <li <%= 'class="selected"' if @controller.controller_name == 'submissions' && (params[:state] == 'rejected' || (@submission && @submission.rejected?)) %>><%= link_to "Rejected", admin_submissions_path(:state => "rejected") %></li>
    <li <%= 'class="selected"' if @controller.controller_name == 'submissions' && (params[:state] == 'accepted' || (@submission && @submission.accepted?)) %>><%= link_to "Accepted", admin_submissions_path(:state => "accepted") %></li>
    <li <%= 'class="selected"' if @controller.controller_name == 'submissions' && (@controller.action_name == 'unassigned' || (@submission && @submission.unassigned?)) %>><%= link_to "Unassigned", unassigned_admin_submissions_path %>
    <li <%= 'class="selected"' if @controller.controller_name == 'submissions' && @controller.action_name != 'unassigned' && params[:state].blank? && !@submission %>><%= link_to "All", admin_submissions_path %></li>
  </ul>

  <%= yield %>
<% end -%>