<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	
	<meta name="keywords" content="iPhone, iPod Touch, poetry, literature, short stories, mobile, magazine, literary magazine, litmag" />
  <meta name="description" content="The world's only mobile literary magazine, exclusively for the iPhone and iPod touch." />
	<meta name="ROBOTS" content="ALL" />
	
  <title>Scarab :: The world's only mobile literary magazine produced exclusively for the iPhone and iPod touch.</title>
	
	<%= stylesheet_link_merged :homepage %>
 	<%= javascript_include_merged :base %>

	<!--[if IE 7]>
		<%= stylesheet_link_tag "screen_ie7.css" %>
	<![endif]-->
		
</head>
<body>
	
	<a href="<%= root_url(:protocol => 'http') %>" id="logo">Scarab Magazine</a>
	
  <div id="container">
		
		<div id="leftcol">
			<%= yield :leftcol %>
		</div>
		
		<div id="main-content" class="<%= @main_content_class %>">
      <%= yield(:main_content) || yield %>
		</div>
		
		<div id="footer">
			<ul>
				<li><a href="<%= root_url(:protocol => 'http') %>">Home</a> |</li>
				<li><a href="<%= about_url(:protocol => 'http') %>">About</a> |</li>
				<li><a href="<%= issue_url(:protocol => 'http') :number => @current_issue.number %>">Current Issue</a> |</li>
				<li><a href="<%= submit_work_url(:protocol => 'http') %>">Submit Work</a></li>
			</ul>
			
			&copy; 2009 Old Brick Press, LLC. All Rights Reserved.
		</div>
		
  </div>
    
	<script type="text/javascript"> Cufon.now(); </script>
  
  <%= render :partial => "layouts/analytics" %>
</body>
</html>
